{% extends "index.html" %}

{% block content %}

{% raw %}

<div ng-controller="homeCtrl">
    <div class="jumbotron">
        <div class="container">
            <h1>GEM DAQ Interface</h1>
            <div class="row">
                <div class="col-md-4">                
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Hardware components</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-block btn-default btn-xs" href="glib">GLIB</a>
                            <a class="btn btn-block btn-default btn-xs" href="oh">OptoHybrid</a>
                            <a class="btn btn-block btn-default btn-xs" href="vfat2">VFAT2s</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">       
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Low level functionalities</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-block btn-default btn-xs" href="i2c">VFAT2 I2C</a>
                            <a class="btn btn-block btn-default btn-xs" href="adc">ADC</a>
                        </div>
                    </div>                
                </div>
                <div class="col-md-4">       
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">High level functionalities</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-block btn-default btn-xs" href="threshold">Threshold scan</a>
                            <a class="btn btn-block btn-default btn-xs" href="latency">Latency scan</a>
                            <a class="btn btn-block btn-default btn-xs" href="t1">T1 generation</a>
                        </div>
                    </div>                
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">GLIB status</h3>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>  
                </div>
                <div class="col-md-4">                
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">OptoHybrid status</h3>
                        </div>
                        <div class="panel-body">
                            <a class="btn btn-block btn-success btn-xs" href="threshold" ng-show="scan_is_running == 1">A <b>threshold scan</b> is running on the OptoHybrid</a>
                            <a class="btn btn-block btn-success btn-xs" href="latency" ng-show="scan_is_running == 3">A <b>latency scan</b> is running on the OptoHybrid</a>
                            <a class="btn btn-block btn-danger btn-xs" href="#" ng-show="scan_is_running == 0"><b>No scan</b> is running on the OptoHybrid</a>

                            <a class="btn btn-block btn-success btn-xs" href="t1" ng-show="t1_is_running == true">The T1 controller is <b>running</b> on the OptoHybrid</a>
                            <a class="btn btn-block btn-danger btn-xs" href="t1" ng-show="t1_is_running == false">The T1 controller is <b>not running</b> on the OptoHybrid</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"> 
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">VFAT2s status</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <span class="vfat2-item-small" ng-repeat="vfat2 in vfat2s">
                                    <a class="btn btn-block btn-success btn-xs" href="vfat2" ng-show="vfat2.isPresent && vfat2.isOn">#{{ vfat2.id }}</a>
                                    <a class="btn btn-block btn-danger btn-xs" href="vfat2" ng-show="vfat2.isPresent && !vfat2.isOn">#{{ vfat2.id }}</a>
                                    <a class="btn btn-block btn-default btn-xs" disabled="disabled" ng-show="!vfat2.isPresent">#{{ vfat2.id }}</a>
                                </span>
                            </p>
                        </div>
                    </div>  
                </div>
            </div>
        </div>        
    </div>
</div>

{% endraw %}

{% endblock %}