{% extends "index.html" %}

{% block content %}

{% raw %}

<div>
    <h1>VFAT2 I2C requests</h1>
    <div class="row">
        <div class="col-md-4">
            <!-- Basic I2C request -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic I2C request</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">VFAT2</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" min="0" max="23" ng-model="vfat2ID">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Register</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="vfat2Register" ng-options="item.name for item in dispRegisters track by item.id"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Write Data</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" min="0" max="255" ng-model="vfat2Data">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <a class="btn btn-xs btn-info" ng-click="read()">Read</a>
                                <a class="btn btn-xs btn-info" ng-click="write()">Write</a>
                            </div>
                        </div>
                    </div>
                    <div class="well" ng-show="readResult != null">Result of the read operation: <b>{{ readResult | hex }}</b></div>
                    <div class="well" ng-show="writeResult != null">Write operation performed</b></div>
                </div>
            </div>
        </div>       
        <div class="col-md-8">    
            <!-- Extended I2C request -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Extended I2C requests</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">VFAT2s mask</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <div class="input-group-addon">0x</div>
                                            <input type="text" maxlength="6" class="form-control" ng-model="vfat2sMask">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Register</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" ng-model="vfat2sRegister" ng-options="item.name for item in dispRegisters track by item.id"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Write Data</label>
                                    <div class="col-sm-8">
                                        <input type="number" class="form-control" min="0" max="255" ng-model="vfat2sData">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-10">
                                        <a class="btn btn-xs btn-info" ng-click="reads()">Read all</a>
                                        <a class="btn btn-xs btn-info" ng-click="writes()">Write all</a>
                                        <a class="btn btn-xs btn-primary" ng-click="reset_module()">Reset</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div ng-show="readsResult.length > 0">
                                <p>Results of the read operations</p> 
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>VFAT2</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in readsResult">
                                            <td>{{ result.vfat2 }}</td>
                                            <td>{{ result.data | hex }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="well" ng-show="writesResult != null">Write operations performed</b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

{% endraw %}

{% endblock %}