<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>GEM Web DAQ interface</title>
        <link rel="stylesheet" href="http://bootswatch.com/lumen/bootstrap.css">
        <link rel="stylesheet" href="/stylesheets/notify.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>

        <growl-notifications></growl-notifications>

        <div class="row">

            <div class="col-md-2" ng-controller="commonCtrl">        
                <h2 class="text-center"><span class="glyphicon glyphicon-fire text-warning"></span> GEM DAQ</h2>
                {% raw %}
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-class=""><a href="/">Home</a></li>
                        <li><a href="/glib">GLIB</a></li>
                        <li><a href="/oh">OptoHybrid</a></li>
                        <li><a href="/vfat2">VFAT2s</a></li>
                        <li><a href="/i2c">I2C</a></li>
                        <li><a href="/threshold">Threshold scan</a></li>
                        <li><a href="/latency">Latency scan</a></li>
                        <li><a href="/t1">T1 controller</a></li>      
                        <li><a href="/tkdata">Tracking Data</a></li>                  
                    </ul>    
                {% endraw %}
                <hr>
                <div class="col-md-offset-1">
                    <span class="label label-default">GEM Chamber Selection</span>
                    <div class="radio"><label><input type="radio" name="ohSelect" id="ohSelect" value="0" checked="" ng-model="OHID" ng-value="0" ng-change="oh_change()"> GEM <b>#0</b></label></div>
                    <div class="radio"><label><input type="radio" name="ohSelect" id="ohSelect" value="1" ng-model="OHID" ng-value="1" ng-change="oh_change()"> GEM <b>#1</b></label></div>   
                </div>
            </div>

            <div class="col-md-10" ng-controller="appCtrl">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="https://www.google.com/jsapi"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
        <script src="/javascripts/notify.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/angular.js"></script>
        <script src="/javascripts/tools.js"></script>
        <script src="/javascripts/{{ js }}.js"></script>

    </body>
</html>
