<!DOCTYPE html>
<htmll ng-app>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>



        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/ipbus.js"></script>
        <script>
        var i = 0;
        for (var j = 0; j < 200; ++j) {
        ipbus_read(0x4004010a, function(data) {
          ++i;
        });  
        }
        setTimeout(function() { alert(i); }, 5000);
        </script>
    </body>
</html>
