<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>GEM Web DAQ interface</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">GEM Web DAQ</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hardware components <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="glib">GLIB</a></li>
                                <li><a href="oh">OptoHybrid</a></li>
                                <li><a href="vfat2">VFAT2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Low level functionalities <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="i2c">VFAT2 I2C</a></li>
                                <li><a href="adc">ADC</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">High level functionalities <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="threshold">Threshold scan</a></li>
                                <li><a href="latency">Latency scan</a></li>
                                <li><a href="t1">T1 generation</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script src="https://www.google.com/jsapi"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/javascripts/angular.js"></script>
        <script src="/javascripts/tools.js"></script>
        <script src="/javascripts/home.js"></script>
        <script src="/javascripts/glib.js"></script>
        <script src="/javascripts/oh.js"></script>
        <script src="/javascripts/vfat2.js"></script>
        <script src="/javascripts/i2c.js"></script>
        <script src="/javascripts/threshold.js"></script>
        <script src="/javascripts/t1.js"></script>
    </body>
</html>
