{% extends "index.html" %}

{% block content %}

{% raw %}

<div ng-controller="ohCtrl">
    <h1>OptoHybrid monitoring and control</h1>
    <div class="row">
        <div class="col-md-4">
            <!-- Wishbone counters -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Wishbone status</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Wishbone module</th>
                                <th>Strobes</th>
                                <th>Acknowledgments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="counter in wbCounters">
                                <td>{{ counter.name }}</td>
                                <td>{{ counter.stb | hex }}</td>
                                <td>{{ counter.ack | hex }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p><a class="btn btn-warning btn-xs btn-block" ng-click="reset_counters()">Reset the counters</a></p>
                </div>
            </div>           
        </div>     
    </div>
</div>

{% endraw %}

{% endblock %}