{% extends "index.html" %}

{% block content %}

{% raw %}

<div ng-controller="thresholdCtrl">
    <h1>VFAT2 threshold scan</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Scan parameters</h3>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">VFAT2</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" min="0" max="23" ng-model="vfat2ID">
                            </div>
                        </div>                        

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Minimum threshold</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" min="0" max="255" ng-model="minVal">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Maximum threshold</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" min="0" max="255" ng-model="maxVal">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Steps</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" ng-model="steps">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label">Number of events</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" ng-model="nEvents">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-10">
                                <a href="#" class="btn btn-success" ng-click="start_scan()">Start the scan</a>
                            </div>
                        </div>
                    </div>
                    <div class="well" ng-show="readResult != null">Result of the read operation: <b>{{ readResult | hex }}</b></div>
                    <div class="well" ng-show="writeResult != null">Write operation performed</b></div>
                </div>
            </div>
        </div>       

        <div class="col-md-8">    
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-warning" ng-show="scan_is_running == true">A scan is currently running on the system...</div>
                    <div class="alert alert-info" ng-show="scan_is_running == false">The system is currently free and available to perform a scan.</div>
                    <div id="threshold_chart"></div>
                </div>
            </div>
        </div> 
    </div>
</div>

{% endraw %}

{% endblock %}