{% extends "index.html" %}

{% block content %}

{% raw %}

<div ng-controller="vfat2Ctrl">
    <h1>VFAT2 monitoring and control</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Overview</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <span class="vfat2-item" ng-repeat="vfat2 in vfat2s">
                            <a class="btn btn-block btn-success btn-xs" ng-show="vfat2.isPresent && vfat2.isOn" href="#" ng-click="vfat2Inspect(vfat2.id)">VFAT2 #{{ vfat2.id }}</a>
                            <a class="btn btn-block btn-danger btn-xs" ng-show="vfat2.isPresent && !vfat2.isOn" href="#" ng-click="vfat2Inspect(vfat2.id)">VFAT2 #{{ vfat2.id }}</a>
                            <a class="btn btn-block btn-default btn-xs" disabled="disabled" ng-show="!vfat2.isPresent">VFAT2 #{{ vfat2.id }}</a>
                        </span>
                    </p>
                    <p>
                        Legend: 
                        <span class="label label-default">Missing</span>
                        <span class="label label-danger">Halted</span>
                        <span class="label label-success">Running</span>
                    </p>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Global Control</h3>
                </div>
                <div class="panel-body">
                    <p>
                        <a class="btn btn-primary btn-xs btn-block" href="#" ng-click="restore_defaults_all()">Set default parameters</a>
                        <a class="btn btn-success btn-xs btn-block" href="#" ng-click="start_vfat2_all()">Start all VFAT2s</a>
                        <a class="btn btn-danger btn-xs btn-block" href="#" ng-click="stop_vfat2_all()">Stop all VFAT2s</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8" ng-show="selectedVFAT2 == 99">  
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">No VFAT2 selected</h3>
                </div>  
                <div class="panel-body">
                    <p>Select a VFAT2 in the left panel to see more information about it.</p>
                </div>
            </div>
        </div>
        <div class="col-md-8" ng-show="selectedVFAT2 != 99">    
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">VFAT2 #{{ selectedVFAT2 }} Monitoring and Fine Control</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Parameter</th>
                                        <th>Value</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Control Register 0</td>
                                        <td>{{ vfat2s[selectedVFAT2].ctrl0 | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].ctrl0 != defaultVFAT2.ctrl0"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].ctrl0 == defaultVFAT2.ctrl0"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Control Register 1</td>
                                        <td>{{ vfat2s[selectedVFAT2].ctrl1 | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].ctrl1 != defaultVFAT2.ctrl1"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].ctrl1 == defaultVFAT2.ctrl1"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Control Register 2</td>
                                        <td>{{ vfat2s[selectedVFAT2].ctrl2 | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].ctrl2 != defaultVFAT2.ctrl2"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].ctrl2 == defaultVFAT2.ctrl2"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Control Register 3</td>
                                        <td>{{ vfat2s[selectedVFAT2].ctrl3 | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].ctrl3 != defaultVFAT2.ctrl3"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].ctrl3 == defaultVFAT2.ctrl3"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ChipID0</td>
                                        <td>{{ vfat2s[selectedVFAT2].chipId0 | hex }}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>ChipID1</td>
                                        <td>{{ vfat2s[selectedVFAT2].chipId1 | hex }}</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Parameter</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>                          
                                    <tr>
                                        <td>IPreampIn</td>
                                        <td>{{ vfat2s[selectedVFAT2].iPreampIn | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].iPreampIn != defaultVFAT2.iPreampIn"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].iPreampIn == defaultVFAT2.iPreampIn"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IPreampFeed</td>
                                        <td>{{ vfat2s[selectedVFAT2].iPremapFeed | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].iPremapFeed != defaultVFAT2.iPremapFeed"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].iPremapFeed == defaultVFAT2.iPremapFeed"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IPreampOut</td>
                                        <td>{{ vfat2s[selectedVFAT2].iPreampOut | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].iPreampOut != defaultVFAT2.iPreampOut"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].iPreampOut == defaultVFAT2.iPreampOut"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IShaper</td>
                                        <td>{{ vfat2s[selectedVFAT2].iShaper | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].iShaper != defaultVFAT2.iShaper"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].iShaper == defaultVFAT2.iShaper"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IShaperFeed</td>
                                        <td>{{ vfat2s[selectedVFAT2].iShaperFeed | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].iShaperFeed != defaultVFAT2.iShaperFeed"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].iShaperFeed == defaultVFAT2.iShaperFeed"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>IComp</td>
                                        <td>{{ vfat2s[selectedVFAT2].iComp | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].iComp != defaultVFAT2.iComp"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].iComp == defaultVFAT2.iComp"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Latency</td>
                                        <td>{{ vfat2s[selectedVFAT2].latency | hex }}</td>
                                        <td>
                                            <span class="label label-warning"><span class="glyphicon glyphicon-th"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>VThreshold1</td>
                                        <td>{{ vfat2s[selectedVFAT2].vthreshold1 | hex }}</td>
                                        <td>
                                            <span class="label label-warning"><span class="glyphicon glyphicon-th"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>VThreshold2</td>
                                        <td>{{ vfat2s[selectedVFAT2].vthreshold2 | hex }}</td>
                                        <td>
                                            <span class="label label-danger" ng-show="vfat2s[selectedVFAT2].vthreshold2 != defaultVFAT2.vthreshold2"><span class="glyphicon glyphicon-remove"></span></span>
                                            <span class="label label-success" ng-show="vfat2s[selectedVFAT2].vthreshold2 == defaultVFAT2.vthreshold2"><span class="glyphicon glyphicon-ok"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>VCal</td>
                                        <td>{{ vfat2s[selectedVFAT2].vcal | hex }}</td>
                                        <td>
                                            <span class="label label-warning"><span class="glyphicon glyphicon-th"></span></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Calibration Phase</td>
                                        <td>{{ vfat2s[selectedVFAT2].calphase | hex }}</td>
                                        <td>
                                            <span class="label label-warning"><span class="glyphicon glyphicon-th"></span></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-primary btn-xs" href="#" ng-click="restore_defaults()">Set default parameters</a>
                        <a class="btn btn-success btn-xs" href="#" ng-click="start_vfat2()">Start the VFAT2</a>
                        <a class="btn btn-danger btn-xs" href="#" ng-click="stop_vfat2()">Stop the VFAT2</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>

{% endraw %}

{% endblock %}