{% extends "index.html" %}

{% block content %}

{% raw %}

<div ng-controller="vfat2Ctrl">

    <h1>VFAT2 monitoring and control</h1>


    <div class="row">
        <div class="large-4 columns">
            <h2>Overview</h2>
            <div class="panel">
                <ul class="button-group even-3">
                    <li ng-repeat="vfat2 in vfat2s">
                        <a class="button success tiny" ng-show="vfat2.isPresent && vfat2.isOn" href="#" ng-click="vfat2Inspect(vfat2.id)">VFAT2 #{{ vfat2.id }}</a>
                        <a class="button alert tiny" ng-show="vfat2.isPresent && !vfat2.isOn" href="#" ng-click="vfat2Inspect(vfat2.id)">VFAT2 #{{ vfat2.id }}</a>
                        <a class="button tiny disable" ng-show="!vfat2.isPresent">VFAT2 #{{ vfat2.id }}</a>
                    </li>
                </ul>
                <span class="label">Missing</span>
                <span class="label alert">Halted</span>
                <span class="label success">Running</span>
            </div>
        </div>
        <div class="large-8 columns" ng-show="inspectinVFAT2 != 99">    
            <h2>Details on VFAT2 #{{ inspectinVFAT2 }}</h2>
            <div class="row">
                <div class="medium-6 columns">
                    <table>
                        <thead>
                            <tr><th>Parameter</th><th>Value</th><th>Write</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>Is running ?</td><td>{{ vfat2s[inspectinVFAT2].isOn }}</td><td><input type="checkbox" ng-model"writeVFAT2.isOn"></td></tr>
                            <tr><td>Trigger mode</td><td>{{ vfat2s[inspectinVFAT2].triggerMode | hex }}</td><td><input type="number"  size="3" ng-model"writeVFAT2.triggerMode"></td></tr>
                            <tr><td>Monostable pulse polarity</td><td>{{ vfat2s[inspectinVFAT2].msPolarity | hex }}</td><td><input type="number" size="3" ng-model"writeVFAT2.msPolarity"></td></tr>
                            <tr><td>Calibration polarity</td><td>{{ vfat2s[inspectinVFAT2].calPolarity | hex }}</td><td><input type="number" size="3" ng-model"writeVFAT2.calPolarity"></td></tr>
                            <tr><td>Calibration mode</td><td>{{ vfat2s[inspectinVFAT2].calMode | hex }}</td><td><input type="number" size="3" ng-model"writeVFAT2.calMode"></td></tr>
                            <tr><td>DAQ selection</td><td>{{ vfat2s[inspectinVFAT2].dacSel | hex }}</td><td><input type="number" size="3" ng-model"writeVFAT2.dacSel"></td></tr>
                            <tr><td>Hit Counter selection</td><td>{{ vfat2s[inspectinVFAT2].hitCounterSel | hex }}</td><td><input type="number" size="3" ng-model"writeVFAT2.hitCounterSel"></td></tr>
                            <tr><td>Monostable pulse length</td><td>{{ vfat2s[inspectinVFAT2].msPulseLength | hex }}</td><td><input type="number" size="3" ng-model"writeVFAT2.msPulseLength"></td></tr>
                            <tr><td>ChipID0</td><td>{{ vfat2s[inspectinVFAT2].chipId0 | hex }}</td><td></td></tr>
                            <tr><td>ChipID1</td><td>{{ vfat2s[inspectinVFAT2].chipId1 | hex }}</td><td></td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="medium-6 columns">
                    <table>
                        <thead>
                            <tr><th>Parameter</th><th>Value</th><th>Write</th></tr>
                        </thead>
                        <tbody>                          
                            <tr><td>IPreampIn</td><td>{{ vfat2s[inspectinVFAT2].iPreampIn | hex }}</td><td>{{ writeVFAT2.isOn }}</td></tr>
                            <tr><td>IPreampFeed</td><td>{{ vfat2s[inspectinVFAT2].iPremapFeed | hex }}</td><td>{{ writeVFAT2.isOn }}</td></tr>
                            <tr><td>IPreampOut</td><td>{{ vfat2s[inspectinVFAT2].iPreampOut | hex }}</td><td>{{ writeVFAT2.isOn }}</td></tr>
                            <tr><td>IShaper</td><td>{{ vfat2s[inspectinVFAT2].iShaper | hex }}</td><td>{{ writeVFAT2.isOn }}</td></tr>
                            <tr><td>IShaperFeed</td><td>{{ vfat2s[inspectinVFAT2].iShaperFeed | hex }}</td><td>{{ writeVFAT2.isOn }}</td></tr>
                            <tr><td>IComp</td><td>{{ vfat2s[inspectinVFAT2].iComp | hex }}</td><td>{{ writeVFAT2.isOn }}</td></tr>
                            <tr><td>Latency</td><td>{{ vfat2s[inspectinVFAT2].latency | hex }}</td><td>{{ writeVFAT2.isOn }}</td></tr>
                            <tr><td>VThreshold1</td><td>{{ vfat2s[inspectinVFAT2].vthreshold1 | hex }}</td><td>{{ writeVFAT2.isOn }}</td></tr>
                            <tr><td>VThreshold2</td><td>{{ vfat2s[inspectinVFAT2].vthreshold2 | hex }}</td><td>{{ writeVFAT2.isOn }}</td></tr>
                            <tr><td>VCal</td><td>{{ vfat2s[inspectinVFAT2].vacl | hex }}</td><td>{{ writeVFAT2.isOn }}</td></tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div> 
    </div>

</div>

{% endraw %}

{% endblock %}