{% extends "index.html" %}

{% block content %}

{% raw %}

<div>
    <h1>OptoHybrid monitoring and control</h1>
    <div class="row">
        <div class="col-md-12">   
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Help</h3>
                </div>
                <div class="panel-body">
                    <p>The ORANGE warnings on this page are not critical and do not prevent the system from running. They can be ignored. However, do not reset the counters unless the system has been restarted. This information will help the developers to stabilize the system.</p>
                    <p>The RED warnings indicate that the values read from or written in the system are not the optimal values for data taking. In case you plan on performing a data taking run, all RED warnings should be resolved before the start of the run.</p>
                    <div class="alert alert-danger" ng-show="t1Source.id != 2">The <b>VFAT2 trigger source</b> register should be set to "External"! <a class="btn btn-xs btn-success pull-right" ng-click="solve_trigger()">Solve</a></div>
                    <div class="alert alert-danger" ng-show="clockSource.id != 2">The <b>Clock source</b> register should be set to "External"! <a class="btn btn-xs btn-success pull-right" ng-click="solve_clock()">Solve</a></div>
                </div>
            </div>   
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!-- System registers -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">System registers</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">VFAT2 mask</label>
                                    <div class="col-sm-8">   
                                        <div class="input-group">
                                            <div class="input-group-addon">0x</div>
                                            <input type="text" maxlength="6" class="form-control" ng-model="vfat2sMask">
                                        </div>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">VFAT2 trigger source</label>
                                    <div class="col-sm-8">   
                                        <select class="form-control" ng-model="t1Source" ng-options="item.name for item in t1SourceChoices track by item.id"></select>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Loopback trigger source</label>
                                    <div class="col-sm-8">   
                                        <input type="text" maxlength="2" min="0" max="23" class="form-control" ng-model="loopbackSource">
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Clock source</label>
                                    <div class="col-sm-8">   
                                        <select class="form-control" ng-model="clockSource" ng-options="item.name for item in clockSourceChoices track by item.id"></select>
                                    </div>
                                </div>  
                                <div class="form-group">
                                    <label class="col-sm-4 control-label"></label>
                                    <div class="col-sm-8">   
                                        <a class="btn btn-success btn-xs" ng-click="set_system_regs()">Apply changes</a>
                                    </div>
                                </div>  
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">TDC SBit outputs</label>
                                    <div class="col-sm-8">   
                                        <input type="number" min="0" max="23" class="form-control" ng-model="sbitSelect[0]">
                                        <input type="number" min="0" max="23" class="form-control" ng-model="sbitSelect[1]">
                                        <input type="number" min="0" max="23" class="form-control" ng-model="sbitSelect[2]">
                                        <input type="number" min="0" max="23" class="form-control" ng-model="sbitSelect[3]">
                                        <input type="number" min="0" max="23" class="form-control" ng-model="sbitSelect[4]">
                                        <input type="number" min="0" max="23" class="form-control" ng-model="sbitSelect[5]">
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="col-md-4">
            <!-- Status regs --> 
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Status registers</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Register</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="reg in statRegs" ng-class="{ danger: reg.data == 0 }">
                                <td>{{ reg.name }}</td>
                                <td>{{ reg.data | hex }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>   
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- Wishbone counters -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Wishbone counters</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Wishbone module</th>
                                <th>Strobes</th>
                                <th>Acknowledgments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="counter in wbCounters" ng-class="{ warning: counter.stb != counter.ack }">
                                <td>{{ counter.name }}</td>
                                <td>{{ counter.stb | hex }}</td>
                                <td>{{ counter.ack | hex }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p><a class="btn btn-primary btn-xs btn-block" ng-click="reset_wb_counters()">Reset the counters</a></p>
                </div>
            </div>           
        </div>             
        <div class="col-md-4">
            <!-- T1 counters -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">T1 commands counters</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Command</th>
                                <th>Counter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="counter in t1Counters">
                                <td>{{ counter.name }}</td>
                                <td>{{ counter.cnt | hex }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p><a class="btn btn-primary btn-xs btn-block" ng-click="reset_t1_counters()">Reset the counters</a></p>
                </div>
            </div>           
        </div>       
        <div class="col-md-4">
            <!-- GTX counters -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">GTX error counters</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Command</th>
                                <th>Counter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="counter in gtxCounters">
                                <td>{{ counter.name }}</td>
                                <td>{{ counter.cnt | hex }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p><a class="btn btn-primary btn-xs btn-block" ng-click="reset_gtx_counters()">Reset the counters</a></p>
                </div>
            </div>           
        </div>   
    </div>
</div>

{% endraw %}

{% endblock %}